<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class-Group</title>
    <link rel='stylesheet' href="/index.css">
    <script src="/jquery.min.js"></script>
    <script src="/index.js"></script>
</head>
<body>
    <div class="meeting-room room">
    </div>
    <div class="class-room room">
        {{#each data  as |item index|}}
            <div class="name {{tag}} {{index}} box" id={{index}}>{{name}}</div>
        {{/each}}
    </div>
    <button class="divide-class box">随机分班</button>
</body>
</html>